@import url('file:///home/z/.cache/wal/firefox.css');

/* All tabs in the tab bar */
#tabbrowser-tabs {
    background-color: var(--color3) !important;
    color: var(--color7) !important;
}

/* The currently selected tab */
.tabbrowser-tab[selected] {
    background-color: var(--color2) !important;
    color: var(--color7) !important;
}

/* When hovering over an available tab */
.tabbrowser-tab:not([selected]):hover {
    background-color: var(--color7) !important;
    color: var(--color0) !important;
}

/* The section right below the tabs, contains the URL entry and search
   bar, bookmarks, etc. */
#nav-bar {
    background-color: var(--color7) !important;
    color: var(--color0) !important;
}

/* For reference:      */
/* --color0 == black   */
/* --color1 == red     */
/* --color2 == green   */
/* --color3 == yellow  */
/* --color4 == blue    */
/* --color5 == magenta */
/* --color6 == cyan    */
/* --color7 == white   */
